.aboutme{
   
}
.aboutmeText{
    margin: 0rem 10px;
    border-radius: 25px;
    border-width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
    border-style: solid;
    padding: 25px;
    padding-top: 25px;
    gap: 50px 50px;
}
hr{
    border: 0.01rem solid rgb(255, 255, 255)
}