.title {
  text-align: center;
}

.aboutmeText {
  gap: 50px 50px;
  width: 550px;
  text-align: center;
  margin-left: 50px;
  letter-spacing: 0.1vh;
}
hr {
  border: 0.01rem solid rgb(255, 255, 255);
}
.contact-button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 15px;
  border-color: white;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
}
.pdfbutton{
  margin-top: 7px;
  margin-left: 50px;
  color: black;
  background-color: #c985ed;
  border-style: none;
  border-radius: 7px;
  font-size: 15px;
  width: 100px;
  height: 25px;
  cursor: pointer;
}
button:hover {
  color: white;
}
@media screen and (max-width: 1200px) {
  .about-me-text {
    font-size: 14px;
  }
  .pdfbutton{
    font-size: 14px;
  }
}
@media screen and (max-width: 1050px) {
  .aboutmeText {
    margin-left: 0;
  }
  .title {
    font-size: 25px;
    margin-top: 0px;
  }
  .pdfbutton{
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 750px) {
  .aboutmeText {
    width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .aboutmeText {
    width: 350px;
  }
}
@media screen and (max-width: 500px) {
  .aboutmeText {
    width: 250px;
  }
  .about-me-text {
    font-size: 13px;
  }
  .title {
    font-size: 20px;
  }
  .pdfbutton{
    font-size: 13px;
  }
}

@media screen and (max-height: 800px) {
  .about-me-text {
    font-size: 12px;
  }
  .pdfbutton{
    font-size: 12px;
  }
}
@media screen and (max-height: 750px) {
  .about-me-text {
    font-size: 10px;
  }
  .pdfbutton{
    font-size: 10px;
    width: 70px;
    height: 20px;
  }
}
@media screen and (max-height: 650px) {
  .about-me-text {
    font-size: 9px;
  }
  .pdfbutton{
    font-size: 9px;
  }
}
