.serbia {
  width: 200px;
  height: 300px;
  margin: 50px;
}
.container-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.socials-item {
  margin: 0 100px;
  display: flex;
  align-items: center;
}
.socials p {
  margin-left: 5px;
  color: white;
  cursor: pointer !important;
}
.socials p:hover{
  color:#c985ed;
}
@media screen and (max-width: 550px) {
  .socials {
    display: block;
  }
}
