.container-hero {
  height: 80vh;
  background: linear-gradient(90deg, #9022c3e2, rgb(147, 39, 255));
  border-radius: 10px;
  margin: 50px 10%;
  color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.text-hero {
}
.app-container {
  background-image: url("../../public/por.png"); /* Adjust the path based on your project structure */
  background-size: cover; /* or 'contain', depending on how you want the image to be sized */
  background-repeat: no-repeat;
  width: 300px; /* Set the width and height based on your requirements */
  height: 250px;
  border-radius: 50%;
}
.click-on-me-div {
  justify-content: center;
}
.click-on-me {
  opacity: 0.5;
  color: black;
  margin-top: 15px;
  margin-bottom: -15px;
}
.image1 {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  margin: 40px;
}
.hinge {
  overflow: hidden;
  animation: hinge 5s;
  transform-origin: top left;
}
.centasr {
  animation: backOutUp 10s ease-out;
  animation-fill-mode: forwards; /* Da održi stil nakon završetka animacije */
}
.hidden {
  display: none !important;
}
.project {
  display: inline-block;
}
.pojetct_del {
  animation: fadeOut 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none !important;
  }
}

.fullphoto1 {
  width: 650px;
  height: 350px;
  border-radius: 20px;
}
.downimage {
  margin-top: 10px;
}
.arrow {
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  width: 25px;
  height: 25px;
}
@keyframes animate__backOutUp {
  0% {
    opacity: 1;
  }
  100% {
    display: none !important;
  }
}
.projects {
  margin-left: 100px;
}
@media screen and (max-width: 1444px) {
  .fullphoto1 {
    width: 550px;
    height: 300px;
  }
  .container-hero {
    margin: 25px 5%;
  }
}
@media screen and (max-width: 1300px) {
  .projects {
    margin-left: 10px !important;
  }
  .fullphoto1 {
    width: 450px;
    height: 250px;
  }
}
@media screen and (max-width: 1050px) {
  .container-hero {
    height: 80vh;
    background: linear-gradient(90deg, #9022c3e2, rgb(147, 39, 255));
    border-radius: 10px;
    margin: 25px 5%;
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Change from row to column */
    justify-content: center;
    align-items: center;
  }
  .hero {
    flex-direction: column;
  }
  .image1 {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    margin: 40px;
    margin-top: 10px;
  }
  .app-container {
    width: 200px;
    height: 170px;
    justify-content: center;
  }
  .centar {
    border-radius: 10px;
    margin: 25px 0px;
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  .projects {
    margin-left: 0 !important;
  }
  .fullphoto1 {
    width: 450px;
    height: 250px;
  }
  .space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .text-hero {
    font-size: 25px;
  }
  @media screen and (max-width: 600px) {
    .fullphoto1 {
      width: 350px;
      height: 200px;
    }
    .typed {
      font-size: 15px;
    }
    .image1 {
      width: 200px;
      height: 100px;
      border-radius: 20px;
      margin: 40px;
      margin-top: 10px;
    }
    .downimage {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 480px) {
    .fullphoto1 {
      width: 250px;
      height: 150px;
    }
  }
}
.disabled-link {
  pointer-events: none;
}
